* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --text-color: #333;
  --secondary-color: #ffffff;
  --primary-color: #444aca;
  --bg-color: darkblue;
  --font-color: #ffffff;
  --light-brown: #ddd;
  --dark-brown: #f2f2f2;
}

.header-container {
  position: relative
}

.header-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  color: #5a5a5a; 
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.hamburger-menu-container{
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu div{
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: black;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before{
  transform: translateY(-7px);
}

.hamburger-menu div:after{
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
  transform: translateY(0) rotate(45deg);
}

@media (max-width: 920px) {
  .hamburger-menu-container{
    display: flex;
  }

  #check{
      display: block;
  }

  .header-right-container {
    position: fixed;
    height: calc(100vh - 5.2rem);
    top: 5.2rem;
    left: 0;
    overflow: scroll;
    width: 100%;
    background-color: white;

    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
  }

  .menus {
    flex-direction: column;
    width: 100%;
  }

  .dropdown {
    position: initial;
    top: initial;
    left: initial;
    width: 100%;
    padding: 0 1rem;
  }

  .dropdown .dropdown-submenu {
    position: initial;
    left: initial;
    top: initial;
    padding: 0 1rem;
  }
}
