.subNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #d4d4d4;
  }
  
  .section_left,
  .section_right {
    display: flex;
    gap: 20px;
  
    align-items: center;
  }
  
  .section_left a,
  .section_right a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secondary-color);
    /* color: var(--text-color); */
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
  }
  @media (max-width: 1000px) {
    .subNav {
      display: none;
    }
  }